@using System.Drawing

@model IEnumerable<NCRMM_System.Models.EmployeeRoleTable>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainEmployeeLayout.cshtml";
}


<div class="panel panel-success">
    <div class="panel-heading">
        <div class="panel-title">
            <strong>Employee List</strong>
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-responsive table-bordered">
            <tr>
                <th>
                    Full Name
                </th>
                <th>
                   Date of Birth
                </th>
                <th>
                    Employee Role
                </th>

                <th>
                   User Name
                </th>
                
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.User_tbl.FullName)
                    </td>
                    <td>
                       @String.Format("{0:dd-MMM-yyyy}",item.User_tbl.DateOfBirth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeRole)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User_tbl.UserName)
                    </td>
                    

                </tr>
            }

        </table>
    </div>
</div>

