
@{
    ViewBag.Title = "IndexUser";
    Layout = "~/Views/Shared/_MainUser.cshtml";
}

<div class="panel panel-success">
    <div class="panel-heading">
        <div class="panel-title">
            <strong>Main Index Page</strong>
        </div>
    </div>
    <div class="panel-body">
        Hello Shibly
    </div>
</div>

